*~
.#*
.git
*#

# os x stuff
*Thumbs.db*
*.DS_Store

# Build artifacts
build
out
bin

# Eclipse files
.classpath
.project
.settings

# Intellij IDEA files
*.ipr
*.iws
*.iml
/.idea

# gradle
.gradle

# android
.android/
android/

# local settings
local.properties

# jenv
.java-version

# Docker directories
cc-docker-connect-mongodb/confluent-cloud-plugins/
cc-docker-connect-mongodb/kafka-connect-mongodb/
